<!DOCTYPE html>
<html>
  <head>
    <title>PayPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/nav-bar' %>
    <div class="container pt-4">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
  </body>
</html>
